

body {
    margin: 0;
    min-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.page-container {
    margin-left: 16px;
    margin-right: 16px;
    padding-left: 0;
    margin-top: 100px;
    padding-bottom: 100px;
    transition: margin-left 0.3s ease;
    min-height: calc(100vh - 100px);
    position: relative;
}

@media (min-width: 768px) {
    .page-container {
        margin-right: 30px;
        padding-left: 16px;
    }
}

@media (min-width: 768px) {
    .page-container.sidebar-open {
        margin-left: 290px;
    }
}
